
arxiv/802_11ad_functions/dmgCFOEstimate.m
arxiv/802_11ad_functions/dmgPacketDetect.m
arxiv/802_11ad_functions/dmgSCPER.png
arxiv/802_11ad_functions/dmgSCPHY.png
arxiv/802_11ad_functions/DMGSCPHYPacketErrorRateExample.m
arxiv/802_11ad_functions/DMGSCPHYPacketErrorRateExample.mlx
arxiv/802_11ad_functions/dmgSingleCarrierFDE.m
arxiv/802_11ad_functions/dmgSTFNoiseEstimate.m
arxiv/802_11ad_functions/dmgTimingAndChannelEstimate.m
arxiv/802_11ad_functions/dmgUniqueWordPhaseTracking.m
arxiv/802_11ad_functions/helperFrequencyOffset.m
arxiv/802_11ad_functions/helperRISPlacementSimulation.m
arxiv/802_11ad_functions/helperRISSimulation.m
arxiv/802_11ad_functions/helperRISSurface.m
arxiv/802_11ad_functions/helperSymbolEqualize.m
arxiv/A_master_file.mlx
arxiv/IRS_802_11ad.mlx
arxiv/IRS_coeffs_functions/.DS_Store
arxiv/IRS_coeffs_functions/func_g_IRS_near.m
arxiv/IRS_coeffs_functions/func_phase_near.m
arxiv/IRS_config.mlx
arxiv/Parameters.mlx
arxiv/results/IRS.fig
arxiv/results/IRS.svg
arxiv/results/PER_802_11_ad.fig
arxiv/results/PER_802_11_ad.svg
arxiv/simulation_results.mat
IRS_802_11ad.mlx
IRS_config.mlx
Parameters.mlx
results/IRS.fig
results/IRS.svg
results/PER_802_11_ad.fig
results/PER_802_11_ad.svg
simulation_results.mat
simulation_results_MCS_12.mat
